#page-top {
    position: fixed;
    right: 10px;
    bottom: 20px;
    height: 100px;
    text-decoration: none;
    font-weight: bold;
    transform: rotate(90deg);
    font-size: 120%;
    line-height: 2.5rem;
    color: #8fe9ff;
    padding: 0 0 0 35px;
    border-top: solid 2px;

    
}
#page-top::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: 0px;
    width: 15px;
    border-top: solid 2px;
    transform: rotate(35deg);
    transform-origin: light top;
}